trl
peft
accelerate
bitsandbytes
wandb
transformers
sv_ttk
omegaconf
flask
matplotlib
aksharamukha
pyaudio
sounddevice
soundfile
silero-vad
pvporcupine
torch
torchvision
torchaudio
librosa
numpy
sounddevice
transformers
sseclient-py
